<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/static/bootstrap_table/bootstrap-table.min.css"/>
    <script type="text/javascript" src="/static/bootstrap_table/jquery.min.js"></script>

    <script type="text/javascript" src="/static/bootstrap_table/bootstrap-table.js"></script>
    <script type="text/javascript" src="/static/bootstrap_table/bootstrap-table-zh-CN.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-select.css">
</head>
<body>

<a href="/html_test2" target="_blank">查看实例2</a>
<div id="toolbar">
        =========================主表：sale_order
</br>



                                </div>
 <table id="bootstraptable" style="font-size:12px"
                                       class="table table-bordered table-striped table-hover" role="grid"
                                       aria-describedby="example1_info"
                                       data-show-refresh="true"
                                       data-show-columns="true"
                                       data-show-export="true"
                                       data-detail-view="true">
                                </table>


</br></br></br>
================================明细表:sale_order_line
 <table id="boot_line" style="font-size:12px"
                                       class="table table-bordered table-striped table-hover" role="grid"
                                       aria-describedby="example1_info"
                                       data-show-refresh="true"
                                       data-show-columns="true"
                                       data-show-export="true"
                                       data-detail-view="true">
                                </table>

 <script type="text/javascript" src="/static/sourcejs/sale_order_list.js"></script>
</body>
</html>